/* /assets/css/home-tab.css */
/* Home Tab Styles */

.home-container {
    position: relative; /* Needed for pseudo-element positioning */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent pseudo-element overflow */
}

.content-wrapper {
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    border-radius: 8px;
}

.home-container h1 {
    color: #007bff;
    margin-bottom: 10px;
}

.home-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.tab-overview {
    margin-top: 20px;
}

.tab-overview h3 {
    color: #333;
    margin-bottom: 5px;
}

.tab-overview ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
}

.tab-overview ul li {
    margin-bottom: 5px;
}
